:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-family: "poppins", "Helvetica", "Courier New", Courier, monospace !important;
}

html body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: grey;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #00609c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #004f81;
  cursor: pointer;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100svh;
}
.hidden {
  display: none;
}
